@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --primary-nutmeg: hsl(14, 45%, 36%);
  --primary-dark: hsl(332, 51%, 32%);

  --neutral: hsl(0, 0%, 100%);
  --neutral-rose: hsl(330, 100%, 98%);
  --neutral-egg: hsl(30, 54%, 90%);
  --neutral-grey: hsl(30, 18%, 87%);
  --neutral-brown: hsl(30, 10%, 34%);
  --neutral-dark: hsl(24, 5%, 18%);
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-wrap: pretty;
  background-color: var(--neutral);
  color: var(--neutral-brown);
}

.image {
  width: 100%;
}
.recipe {
  padding: 0 30px;
}
.title {
  font-family: 'Young Serif', serif;
  font-weight: 400;
  font-style: normal;
  color: var(--neutral-dark);
  font-size: 32px;
}
.text {
}
.preparation {
  background-color: var(--neutral-rose);
  padding: 10px;
  border-radius: 5px;
}

.preparation-title {
  font-style: bold;
  color: var(--primary-dark);
  margin: 0 10px;
}
.subtitle {
  font-family: 'Young Serif', serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-nutmeg);
}
hr {
  border: 1px solid var(--neutral-grey);
}
ol {
  padding-left: 1em;
}
li {
  padding-left: 1em;
}
li {
  margin: 5px 0;
}
li span {
  font-weight: bold;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  border-bottom: 1px solid var(--neutral-grey);
}
.row div {
  width: 50%;
  padding: 10px 25px;
}

.row :nth-child(2) {
  color: var(--primary-nutmeg);
  font-weight: bold;
}

@media screen and (min-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 229, 216, 255);
  }
  .main {
    width: 600px;
    margin: 50px 0;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--neutral);
  }
  .image {
    border-radius: 20px;
  }
  .recipe {
    padding: 0;
  }
}
